NiFi_Flow.json
{"flowContents":{"identifier":"b3993c78-3b54-3395-9029-d428e9641b92","instanceIdentifier":"2d1845b3-0192-1000-203f-16eb1c2db312","name":"NiFi_Flow (5)","comments":"","position":{"x":823.0,"y":374.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f873e8f1-542b-31ba-8e4e-e4d9b2fdaae9","instanceIdentifier":"1dc3350f-4dc7-1f7f-2bd3-8ed943cb0927","name":"EvaluateJsonPath","comments":"","position":{"x":-832.0,"y":472.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","hit_referer":"$.hit_referer","session_id":"$.session_id","Null Value Representation":"empty string","event_label":"$.event_label","event_category":"$.event_category","hit_type":"$.hit_type","hit_number":"$.hit_number","Path Not Found Behavior":"ignore","hit_page_path":"$.hit_page_path","hit_time":"$.hit_time","event_action":"$.event_action","event_value":"$.event_value","hit_date":"$.hit_date"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"hit_referer":{"name":"hit_referer","displayName":"hit_referer","identifiesControllerService":false,"sensitive":false},"session_id":{"name":"session_id","displayName":"session_id","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"event_label":{"name":"event_label","displayName":"event_label","identifiesControllerService":false,"sensitive":false},"event_category":{"name":"event_category","displayName":"event_category","identifiesControllerService":false,"sensitive":false},"hit_type":{"name":"hit_type","displayName":"hit_type","identifiesControllerService":false,"sensitive":false},"hit_number":{"name":"hit_number","displayName":"hit_number","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"hit_page_path":{"name":"hit_page_path","displayName":"hit_page_path","identifiesControllerService":false,"sensitive":false},"hit_time":{"name":"hit_time","displayName":"hit_time","identifiesControllerService":false,"sensitive":false},"event_action":{"name":"event_action","displayName":"event_action","identifiesControllerService":false,"sensitive":false},"event_value":{"name":"event_value","displayName":"event_value","identifiesControllerService":false,"sensitive":false},"hit_date":{"name":"hit_date","displayName":"hit_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"9fb63b91-97fa-305e-a115-a2a8b21a247f","instanceIdentifier":"00ea9685-8d22-3f8c-138f-f3b305488260","name":"RouteOnAttribute","comments":"","position":{"x":-192.0,"y":488.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"filterHits":"${filename:contains('ga_hits')}","Routing Strategy":"Route to Property name","filterSessions":"${filename:contains('ga_sessions')}"},"propertyDescriptors":{"filterHits":{"name":"filterHits","displayName":"filterHits","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"filterSessions":{"name":"filterSessions","displayName":"filterSessions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1f0a844b-992d-3094-b81c-65764ec950d6","instanceIdentifier":"1f7f4dc7-1dc3-350f-a9ea-2c9c916afa21","name":"EvaluateJsonPath","comments":"","position":{"x":696.0,"y":456.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Destination":"flowfile-attribute","device_model":"$.device_model","Max String Length":"20 MB","visit_time":"$.visit_time","utm_campaign":"$.utm_campaign","device_screen_resolution":"$.device_screen_resolution","device_browser":"$.device_browser","Return Type":"auto-detect","utm_medium":"$.utm_medium","session_id":"$.session_id","Null Value Representation":"empty string","utm_keyword":"$.utm_keyword","visit_number":"$.visit_number","device_category":"$.device_category","device_os":"$.device_os","client_id":"$.client_id","Path Not Found Behavior":"ignore","device_brand":"$.device_brand","geo_country":"$.geo_country","geo_city":"$.geo_city","utm_adcontent":"$.utm_adcontent","visit_date":"$.visit_date","utm_source":"$.utm_source"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"device_model":{"name":"device_model","displayName":"device_model","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"visit_time":{"name":"visit_time","displayName":"visit_time","identifiesControllerService":false,"sensitive":false},"utm_campaign":{"name":"utm_campaign","displayName":"utm_campaign","identifiesControllerService":false,"sensitive":false},"device_screen_resolution":{"name":"device_screen_resolution","displayName":"device_screen_resolution","identifiesControllerService":false,"sensitive":false},"device_browser":{"name":"device_browser","displayName":"device_browser","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"utm_medium":{"name":"utm_medium","displayName":"utm_medium","identifiesControllerService":false,"sensitive":false},"session_id":{"name":"session_id","displayName":"session_id","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"utm_keyword":{"name":"utm_keyword","displayName":"utm_keyword","identifiesControllerService":false,"sensitive":false},"visit_number":{"name":"visit_number","displayName":"visit_number","identifiesControllerService":false,"sensitive":false},"device_category":{"name":"device_category","displayName":"device_category","identifiesControllerService":false,"sensitive":false},"device_os":{"name":"device_os","displayName":"device_os","identifiesControllerService":false,"sensitive":false},"client_id":{"name":"client_id","displayName":"client_id","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"device_brand":{"name":"device_brand","displayName":"device_brand","identifiesControllerService":false,"sensitive":false},"geo_country":{"name":"geo_country","displayName":"geo_country","identifiesControllerService":false,"sensitive":false},"geo_city":{"name":"geo_city","displayName":"geo_city","identifiesControllerService":false,"sensitive":false},"utm_adcontent":{"name":"utm_adcontent","displayName":"utm_adcontent","identifiesControllerService":false,"sensitive":false},"visit_date":{"name":"visit_date","displayName":"visit_date","identifiesControllerService":false,"sensitive":false},"utm_source":{"name":"utm_source","displayName":"utm_source","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"9127e2c4-bd1e-337b-b77c-a0d6d94cbf13","instanceIdentifier":"5fcdcbab-07f9-350a-05f9-22efbef6e9eb","name":"ReplaceText","comments":"","position":{"x":-192.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Regular Expression":"(?<=: |, )(\\s*NaN|\\s*\"NaN\")(\\s*|\\s*})","Replacement Value":"null$2","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"100 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1ead9b4c-7c49-3b99-93d0-5c8b3f6da248","instanceIdentifier":"701eb6d2-2c75-3202-b44e-74395bceec6a","name":"GetFile","comments":"","position":{"x":-192.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/data_json/","Maximum File Age":null,"Batch Size":"1","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"da922541-33b4-3a12-b6b0-9a5a5869682b","instanceIdentifier":"26e7c4ae-0880-3804-7121-b6706c5712a9","name":"SplitJson","comments":"","position":{"x":-192.0,"y":296.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1a40111e-cafd-3171-a302-297cf01aa15c","instanceIdentifier":"1dc3351b-4dc7-1f7f-200a-913466358290","name":"ConvertJSONToSQL","comments":"","position":{"x":-784.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"table-schema-cache-size":"100","Table Name":"ga_hits","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"f139c1b1-1836-3ee3-a22d-4765ba6ee5eb","Update Keys":null,"Translate Field Names":"false","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"bd688432-1a66-3cd1-9473-fbbba4d51e3b","instanceIdentifier":"9b4aa912-641e-34ec-9c53-5664e1101306","name":"UpdateAttribute","comments":"","position":{"x":704.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.27.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","visit_time":"${visit_time:toDate('HH:mm:ss'):format('HH:mm:ss')}","Stateful Variables Initial Value":null,"visit_date":"${visit_date:toDate('yyyy-MM-dd'):format('yyyy-MM-dd HH:mm:ss')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"visit_time":{"name":"visit_time","displayName":"visit_time","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"visit_date":{"name":"visit_date","displayName":"visit_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"280c102e-dda5-3097-aa78-b9c3b22f055a","instanceIdentifier":"8cef64da-b545-3171-e2aa-35fa8a3146df","name":"PutSQL","comments":"","position":{"x":664.0,"y":-912.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"f139c1b1-1836-3ee3-a22d-4765ba6ee5eb","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"fd56bb96-240d-31d3-ae77-752ae798fb9b","instanceIdentifier":"1dc3351e-4dc7-1f7f-e59a-26d6552b2880","name":"PutSQL","comments":"","position":{"x":-776.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"f139c1b1-1836-3ee3-a22d-4765ba6ee5eb","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"e30141d8-b884-3ff1-b056-f80e91170c75","instanceIdentifier":"1dc33512-4dc7-1f7f-0b41-33814887cfaf","name":"UpdateAttribute","comments":"","position":{"x":-800.0,"y":200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.27.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"hit_date":"${hit_date:toDate('yyyy-MM-dd'):format('yyyy-MM-dd HH:mm:ss')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"hit_date":{"name":"hit_date","displayName":"hit_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b080c10f-21f5-3ab0-b17b-06e520f78804","instanceIdentifier":"36f1bf3d-059d-32c9-3c74-c713c58545b1","name":"JoltTransformJSON","comments":"","position":{"x":-192.0,"y":120.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"jolt-spec":"{\n      \"*\": {\n        \"*\": \"&\"\n      }\n    }","jolt-transform":"jolt-transform-shift","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"169e99c0-9e14-3f1a-b880-cc9cf20d3671","instanceIdentifier":"1dc33515-4dc7-1f7f-b7d8-e45f4ac6513c","name":"UpdateRecord","comments":"","position":{"x":-792.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"record-writer":"bcc4e2ff-1a35-38dc-b2a7-b2b0623a5d06","record-reader":"2be1bcec-1195-3fbc-b1f1-cf65a5c666e4","replacement-value-strategy":"literal-value","/hit_date":"${hit_date:toDate('yyyy-MM-dd'):format('yyyy-MM-dd HH:mm:ss')}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/hit_date":{"name":"/hit_date","displayName":"/hit_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"352d1674-5d2d-3aa4-9183-25c58a126afa","instanceIdentifier":"cc3007df-47fb-39a7-7548-58e25438810e","name":"RouteOnAttribute","comments":"","position":{"x":-192.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"filterHits":"${filename:contains('ga_hits')}","Routing Strategy":"Route to Property name","filterSessions":"${filename:contains('ga_sessions')}"},"propertyDescriptors":{"filterHits":{"name":"filterHits","displayName":"filterHits","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"filterSessions":{"name":"filterSessions","displayName":"filterSessions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b4e6e4cb-d2f0-3af9-bc17-76d700827096","instanceIdentifier":"945594b3-99a4-3738-a40a-988b0f2fc781","name":"LogAttribute","comments":"","position":{"x":704.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"eadb94e7-8da0-3a78-955a-16bd3bf2ceba","instanceIdentifier":"1dc33518-4dc7-1f7f-7c72-883c130949cd","name":"LogAttribute","comments":"","position":{"x":-776.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"58fcd635-c9f1-3bf4-9693-31d5b127d20a","instanceIdentifier":"de6d87ad-8a63-3417-f557-50398ff24cd1","name":"ConvertJSONToSQL","comments":"","position":{"x":672.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"table-schema-cache-size":"100","Table Name":"ga_session","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"f139c1b1-1836-3ee3-a22d-4765ba6ee5eb","Update Keys":null,"Translate Field Names":"false","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"021aa39d-d211-3615-81e1-2bbf8489bdad","instanceIdentifier":"896ba81e-7fab-3370-a13a-de8bdf2e0d36","name":"UpdateRecord","comments":"","position":{"x":704.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"/visit_time":"${visit_time:toDate('HH:mm:ss'):format('HH:mm:ss')}","record-writer":"bcc4e2ff-1a35-38dc-b2a7-b2b0623a5d06","/visit_date":"${visit_date:toDate('yyyy-MM-dd'):format('yyyy-MM-dd HH:mm:ss')}","record-reader":"2be1bcec-1195-3fbc-b1f1-cf65a5c666e4","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/visit_time":{"name":"/visit_time","displayName":"/visit_time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/visit_date":{"name":"/visit_date","displayName":"/visit_date","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d6876aa7-a06e-3e1b-90c3-8d29e84bdb14","instanceIdentifier":"7b6753f8-124c-31d1-5466-b465bd931de9","name":"","source":{"id":"021aa39d-d211-3615-81e1-2bbf8489bdad","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateRecord","comments":"","instanceIdentifier":"896ba81e-7fab-3370-a13a-de8bdf2e0d36"},"destination":{"id":"b4e6e4cb-d2f0-3af9-bc17-76d700827096","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"LogAttribute","comments":"","instanceIdentifier":"945594b3-99a4-3738-a40a-988b0f2fc781"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"d99cb5d0-7d75-35a1-830b-c0824c6a9843","instanceIdentifier":"3e1dbda5-1b93-3a94-4e5a-6ba35f705fb2","name":"","source":{"id":"352d1674-5d2d-3aa4-9183-25c58a126afa","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cc3007df-47fb-39a7-7548-58e25438810e"},"destination":{"id":"9127e2c4-bd1e-337b-b77c-a0d6d94cbf13","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ReplaceText","comments":"","instanceIdentifier":"5fcdcbab-07f9-350a-05f9-22efbef6e9eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filterHits","filterSessions"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"7ec49cfa-8f81-39bc-853f-327786ac7b26","instanceIdentifier":"1dc3353e-4dc7-1f7f-e338-f95529c959e5","name":"","source":{"id":"b4e6e4cb-d2f0-3af9-bc17-76d700827096","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"LogAttribute","comments":"","instanceIdentifier":"945594b3-99a4-3738-a40a-988b0f2fc781"},"destination":{"id":"58fcd635-c9f1-3bf4-9693-31d5b127d20a","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"de6d87ad-8a63-3417-f557-50398ff24cd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"8388e7e2-3f90-3ee9-a020-42993becf6e2","instanceIdentifier":"40548871-b5ec-3278-0370-605d360b547a","name":"","source":{"id":"9fb63b91-97fa-305e-a115-a2a8b21a247f","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"RouteOnAttribute","comments":"","instanceIdentifier":"00ea9685-8d22-3f8c-138f-f3b305488260"},"destination":{"id":"1f0a844b-992d-3094-b81c-65764ec950d6","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1f7f4dc7-1dc3-350f-a9ea-2c9c916afa21"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filterSessions"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"ea0b837d-33e2-3c66-9ce9-fd4519661e95","instanceIdentifier":"7dc5e943-975b-39cc-867f-15600e763939","name":"","source":{"id":"1f0a844b-992d-3094-b81c-65764ec950d6","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1f7f4dc7-1dc3-350f-a9ea-2c9c916afa21"},"destination":{"id":"ca72dd40-3923-3321-b1c6-4d26d411f311","type":"FUNNEL","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"Funnel","comments":"","instanceIdentifier":"ebb650d0-d88d-308b-243d-2b9560860346"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b01ead35-62df-34c7-b0f8-490c05dcfdfc","instanceIdentifier":"097dff23-cc9d-3068-cb35-a1a0e383b19a","name":"","source":{"id":"021aa39d-d211-3615-81e1-2bbf8489bdad","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateRecord","comments":"","instanceIdentifier":"896ba81e-7fab-3370-a13a-de8bdf2e0d36"},"destination":{"id":"b8b389eb-3b10-38b0-a59f-9352af8d0eab","type":"FUNNEL","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"Funnel","comments":"","instanceIdentifier":"cffe85c2-b385-3f5f-9ecf-96f8c7137752"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"6cc91732-3588-34a9-b515-64d2796acd52","instanceIdentifier":"a7f935b9-0341-3913-1800-1f10094ab1d2","name":"","source":{"id":"bd688432-1a66-3cd1-9473-fbbba4d51e3b","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateAttribute","comments":"","instanceIdentifier":"9b4aa912-641e-34ec-9c53-5664e1101306"},"destination":{"id":"021aa39d-d211-3615-81e1-2bbf8489bdad","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateRecord","comments":"","instanceIdentifier":"896ba81e-7fab-3370-a13a-de8bdf2e0d36"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"2b3076ea-f1e7-3c9c-bf9d-f72ba4829976","instanceIdentifier":"ea638bab-13a4-3e5a-424a-1966c9b58fa7","name":"","source":{"id":"1f0a844b-992d-3094-b81c-65764ec950d6","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1f7f4dc7-1dc3-350f-a9ea-2c9c916afa21"},"destination":{"id":"fd3be1d8-aac4-3382-8ac9-3cf01509afbf","type":"FUNNEL","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"Funnel","comments":"","instanceIdentifier":"1048bc5c-7f5b-3dba-e6d5-703b59a502ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"51facdaf-f0b5-32a4-9aa4-060fdc294600","instanceIdentifier":"a5f861e2-d08e-3891-9f32-7be6e6b93de2","name":"","source":{"id":"58fcd635-c9f1-3bf4-9693-31d5b127d20a","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"de6d87ad-8a63-3417-f557-50398ff24cd1"},"destination":{"id":"280c102e-dda5-3097-aa78-b9c3b22f055a","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"PutSQL","comments":"","instanceIdentifier":"8cef64da-b545-3171-e2aa-35fa8a3146df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"42c7120b-9594-3ac5-b6fb-c411f03a3c7b","instanceIdentifier":"1dc3351f-4dc7-1f7f-2fac-4934a8dfc9a7","name":"","source":{"id":"1a40111e-cafd-3171-a302-297cf01aa15c","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"1dc3351b-4dc7-1f7f-200a-913466358290"},"destination":{"id":"fd56bb96-240d-31d3-ae77-752ae798fb9b","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"PutSQL","comments":"","instanceIdentifier":"1dc3351e-4dc7-1f7f-e59a-26d6552b2880"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"22b4390d-fa71-35d3-a1cd-e1e0fe832463","instanceIdentifier":"f616fb8d-254e-3e85-f211-4498479f0f10","name":"","source":{"id":"b080c10f-21f5-3ab0-b17b-06e520f78804","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"JoltTransformJSON","comments":"","instanceIdentifier":"36f1bf3d-059d-32c9-3c74-c713c58545b1"},"destination":{"id":"da922541-33b4-3a12-b6b0-9a5a5869682b","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"SplitJson","comments":"","instanceIdentifier":"26e7c4ae-0880-3804-7121-b6706c5712a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"ff28d980-c193-3af5-8f5a-df4333a25ba3","instanceIdentifier":"d5ee77d0-bcf2-3308-c064-d20057ad3ab5","name":"","source":{"id":"1f0a844b-992d-3094-b81c-65764ec950d6","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1f7f4dc7-1dc3-350f-a9ea-2c9c916afa21"},"destination":{"id":"bd688432-1a66-3cd1-9473-fbbba4d51e3b","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateAttribute","comments":"","instanceIdentifier":"9b4aa912-641e-34ec-9c53-5664e1101306"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"c64e7686-d20b-3c23-9a53-159053eea6cc","instanceIdentifier":"8cd4b48e-f0b5-3c88-4a70-16af1de6aff9","name":"","source":{"id":"1ead9b4c-7c49-3b99-93d0-5c8b3f6da248","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"GetFile","comments":"","instanceIdentifier":"701eb6d2-2c75-3202-b44e-74395bceec6a"},"destination":{"id":"352d1674-5d2d-3aa4-9183-25c58a126afa","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cc3007df-47fb-39a7-7548-58e25438810e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"e61ddcc4-c601-3563-94a1-6699b8d893d6","instanceIdentifier":"1dc33510-4dc7-1f7f-88ba-d0d624326585","name":"","source":{"id":"9fb63b91-97fa-305e-a115-a2a8b21a247f","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"RouteOnAttribute","comments":"","instanceIdentifier":"00ea9685-8d22-3f8c-138f-f3b305488260"},"destination":{"id":"f873e8f1-542b-31ba-8e4e-e4d9b2fdaae9","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1dc3350f-4dc7-1f7f-2bd3-8ed943cb0927"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filterHits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1e8bf6ab-01bd-3a3e-aff1-b6c10aaefd00","instanceIdentifier":"1dc33516-4dc7-1f7f-2060-b052fcb8ffb4","name":"","source":{"id":"e30141d8-b884-3ff1-b056-f80e91170c75","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateAttribute","comments":"","instanceIdentifier":"1dc33512-4dc7-1f7f-0b41-33814887cfaf"},"destination":{"id":"169e99c0-9e14-3f1a-b880-cc9cf20d3671","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateRecord","comments":"","instanceIdentifier":"1dc33515-4dc7-1f7f-b7d8-e45f4ac6513c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b790ead4-adab-3d12-9011-29b158523bd2","instanceIdentifier":"1dc3351c-4dc7-1f7f-9002-abd037bc9cc3","name":"","source":{"id":"eadb94e7-8da0-3a78-955a-16bd3bf2ceba","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"LogAttribute","comments":"","instanceIdentifier":"1dc33518-4dc7-1f7f-7c72-883c130949cd"},"destination":{"id":"1a40111e-cafd-3171-a302-297cf01aa15c","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"1dc3351b-4dc7-1f7f-200a-913466358290"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b522f0bc-8118-314b-a905-d3d677522a3f","instanceIdentifier":"1dc33519-4dc7-1f7f-7ec0-0f15fb2cacf9","name":"","source":{"id":"169e99c0-9e14-3f1a-b880-cc9cf20d3671","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateRecord","comments":"","instanceIdentifier":"1dc33515-4dc7-1f7f-b7d8-e45f4ac6513c"},"destination":{"id":"eadb94e7-8da0-3a78-955a-16bd3bf2ceba","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"LogAttribute","comments":"","instanceIdentifier":"1dc33518-4dc7-1f7f-7c72-883c130949cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1cab853f-bcb0-3357-a240-06f76dce6524","instanceIdentifier":"1dc33513-4dc7-1f7f-efe5-e07cc4a26081","name":"","source":{"id":"f873e8f1-542b-31ba-8e4e-e4d9b2fdaae9","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1dc3350f-4dc7-1f7f-2bd3-8ed943cb0927"},"destination":{"id":"e30141d8-b884-3ff1-b056-f80e91170c75","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"UpdateAttribute","comments":"","instanceIdentifier":"1dc33512-4dc7-1f7f-0b41-33814887cfaf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"0b334ab4-0a56-3864-9aab-64b96a136c20","instanceIdentifier":"c0d4a77f-4f5c-34ea-92a9-7ac9c216e1bf","name":"","source":{"id":"da922541-33b4-3a12-b6b0-9a5a5869682b","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"SplitJson","comments":"","instanceIdentifier":"26e7c4ae-0880-3804-7121-b6706c5712a9"},"destination":{"id":"9fb63b91-97fa-305e-a115-a2a8b21a247f","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"RouteOnAttribute","comments":"","instanceIdentifier":"00ea9685-8d22-3f8c-138f-f3b305488260"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"f9c71894-85d6-3600-b27f-19d40cce2a81","instanceIdentifier":"652309b6-3d2e-35bb-8bb4-f0380b6198b3","name":"","source":{"id":"9127e2c4-bd1e-337b-b77c-a0d6d94cbf13","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"ReplaceText","comments":"","instanceIdentifier":"5fcdcbab-07f9-350a-05f9-22efbef6e9eb"},"destination":{"id":"b080c10f-21f5-3ab0-b17b-06e520f78804","type":"PROCESSOR","groupId":"b3993c78-3b54-3395-9029-d428e9641b92","name":"JoltTransformJSON","comments":"","instanceIdentifier":"36f1bf3d-059d-32c9-3c74-c713c58545b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"}],"labels":[],"funnels":[{"identifier":"ca72dd40-3923-3321-b1c6-4d26d411f311","instanceIdentifier":"ebb650d0-d88d-308b-243d-2b9560860346","position":{"x":1512.0,"y":344.0},"componentType":"FUNNEL","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"1f06a46e-53ea-32db-a503-55fb42c9ba25","instanceIdentifier":"02a9d959-a637-3b7f-174a-f55e4536c8e1","position":{"x":848.0,"y":-592.0},"componentType":"FUNNEL","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"fd3be1d8-aac4-3382-8ac9-3cf01509afbf","instanceIdentifier":"1048bc5c-7f5b-3dba-e6d5-703b59a502ee","position":{"x":320.0,"y":216.0},"componentType":"FUNNEL","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"b8b389eb-3b10-38b0-a59f-9352af8d0eab","instanceIdentifier":"cffe85c2-b385-3f5f-9ecf-96f8c7137752","position":{"x":392.0,"y":8.0},"componentType":"FUNNEL","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"}],"controllerServices":[{"identifier":"bcc4e2ff-1a35-38dc-b2a7-b2b0623a5d06","instanceIdentifier":"f7324d09-6d4b-3755-7085-a0807b40715c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"f139c1b1-1836-3ee3-a22d-4765ba6ee5eb","instanceIdentifier":"f5171ed9-c89d-32c9-3368-85c63278cbf3","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.27.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://mydb:3306/sber_db","dbcp-time-between-eviction-runs":"-1","Database User":"admin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"},{"identifier":"2be1bcec-1195-3fbc-b1f1-cf65a5c666e4","instanceIdentifier":"5db4da48-7b26-3a1f-1f1d-5f4b779aefa2","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b3993c78-3b54-3395-9029-d428e9641b92"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}